<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">项目管理</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li class="active">
            <i class="fa fa-home"></i>
            <a ui-sref="home">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0)">细则管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li class="active">
            <a ui-sref="detailRule({mainRuleId:itemRule.mainRule.ruleId,mainRuleName:itemRule.mainRule.ruleName})">{{itemRule.mainRule.ruleName}}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0)">项目管理</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <form class="form form-horizontal" role="form">
                    <div class="form-body">
                        <div>
                            <section class="infogroup">
                                <div class="row">
                                    <div class="col-md-12">所属大类：<span ng-bind="itemRule.mainRule.ruleName"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">所占权重：<span
                                            ng-bind="itemRule.mainRule.weight | toPercent"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">所属细则：<span ng-bind="itemRule.detailRuleName"></span></div>
                                </div>
                                <div class="row" ng-if="itemRule.detailRuleName=='课程成绩'">
                                    <div class="col-md-12"><span class="col-md-1"
                                                                 style="width:75px;padding:0">班级人数：</span>
                                        <span class="col-md-4" style="padding-left:0"><select class="form-control"
                                                                                              data-placeholder="请选择"
                                                                                              ng-model="newPeopleNum"
                                                                                              ng-change="changePeopleNum(newPeopleNum)"
                                                                                              ng-options="scoreRule.peopleNum as scoreRule.peopleNum for scoreRule in scoreRules">
                                                <option value="">---请选择---</option>
                                            </select>
                                            </span>
                                    </div>
                                </div>
                            </section>
                            <section class="infogroup" ng-if="itemRule.detailRuleName!='课程成绩'">
                                <h4>该细则项目列表</h4>
                            </section>
                            <div class="table-toolbar ng-scope"
                                 ng-if="user.superManager&&(itemRule.detailRuleName!='课程成绩')">
                                <div class="btn-group">
                                    <a class="btn blue" ng-click="itemAdd()"> <i
                                            class="fa fa-plus"></i>新增项目</a>
                                </div>
                            </div>
                            <div class="row" ng-if="itemRule.detailRuleName!='课程成绩'">
                                <div class="col-md-10 table-container ng-scope">
                                    <table class="table table-striped table-bordered table-hover table-btns mb30">
                                        <thead>
                                        <tr role="row" class="heading">
                                            <th width="10%">序号</th>
                                            <th width="12%">项目编号</th>
                                            <th width="30%">项目名称</th>
                                            <th width="12%">项目分值</th>
                                            <th width="8%">状态</th>
                                            <th width="38%" ng-if="user.superManager">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in itemRule.itemRuleList">
                                            <td ng-bind="$index+1"></td>
                                            <td ng-bind="item.itemId"></td>
                                            <td ng-bind="item.itemName"></td>
                                            <td><span ng-bind="item.itemScore"></span>分</td>
                                            <td ng-if="item.itemState=='停用'"><span
                                                    class="label label-sm label-default">停用</span></td>
                                            <td ng-if="item.itemState=='启用'"><span
                                                    class="label label-sm label-success">启用</span></td>
                                            <td ng-if="user.superManager">
                                                <a ng-click="itemEdit(item)"
                                                   class="btn btn-xs default btn-editable">
                                                    <i class="fa fa-edit"></i> 编辑
                                                </a>
                                                <a ng-click="changeState('停用',item.itemId)"
                                                   class="btn btn-xs default btn-editable"
                                                   ng-if="item.itemState=='启用'">
                                                    <i class="fa fa-lock"></i> 停用
                                                </a>
                                                <a ng-click="changeState('启用',item.itemId)"
                                                   class="btn btn-xs default btn-editable"
                                                   ng-if="item.itemState=='停用'">
                                                    <i class="fa fa-unlock"></i> 启用
                                                </a>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row" ng-if="itemRule.detailRuleName=='课程成绩'">
                                <div class="col-md-8 table-container ng-scope">
                                    <table class="table table-striped table-bordered table-hover table-btns mb30">
                                        <thead>
                                        <tr role="row" class="heading">
                                            <th width="10%">序号</th>
                                            <th width="12%">班级人数</th>
                                            <th width="30%">项目名称</th>
                                            <th width="12%">项目分值</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="score in scoreRules[newPeopleNum-20].scores">
                                            <td ng-bind="$index+1"></td>
                                            <td ng-bind="scoreRules[newPeopleNum-20].peopleNum"></td>
                                            <td>第<span ng-bind="$index+1"></span>名</td>
                                            <td><span ng-bind="score"></span>分</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div>
                                <div class="form-action">
                                    <div class="row txtcenter">
                                        <a ui-sref="detailRule({mainRuleId:itemRule.mainRule.ruleId,mainRuleName:itemRule.mainRule.ruleName})"
                                           class="btn default"><i
                                                class="fa fa-chevron-circle-left"></i> 返回</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END PAGE CONTENT-->