<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">细则大类新增</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li class="active">
            <i class="fa fa-home"></i>
            <a ui-sref="home">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0)">基础设置</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li class="active">
            <a ui-sref="mainRuleManage">细则大类管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0)">细则大类新增</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold">细则大类新增</span>
                </div>
            </div>
            <form class="form form-horizontal" role="form" name="myForm">
                <div class="form-body">
                    <div class="form-group">
                        <label for="ruleName" class="col-md-3 control-label">细则大类名称：</label>
                        <div class="col-md-4"><input type="text" ng-model="ruleInfo.ruleName" class="form-control"
                                                     id="ruleName"></div>
                    </div>
                    <div class="form-group">
                        <label for="weight" class="col-md-3 control-label">细则大类所占权重：</label>
                        <div class="col-md-4"><input type="number" ng-model="ruleInfo.weight" class="form-control"
                                                     id="weight"></div>
                    </div>
                    <div class="form-group">
                        <label for="ruleName" class="col-md-3 control-label">所属学院：</label>
                        <div class="col-md-4">
                            <select class="form-control" data-placeholder="请选择" ng-model="ruleInfo.instituteId"
                                    ng-options="instituteManage.instituteId as instituteManage.instituteName for instituteManage in instituteManages">
                                <option value="">---请选择---</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">细则大类状态：</label>
                        <div class="col-md-4">
                            <input type="radio" class="radio-inline" name="ruleState"
                                   ng-model="ruleInfo.ruleState" ng-value="ruleInitState"> 启用
                            <input type="radio" class="radio-inline" name="ruleState"
                                   ng-model="ruleInfo.ruleState" value="停用"> 停用
                        </div>
                    </div>
                    <div class="form-action">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                                <a ui-sref="mainRuleManage" class="btn default"><i
                                        class="fa fa-chevron-circle-left"></i>
                                    返回</a>
                                <button class="btn btn-primary" ng-click="mainRuleSubmit()"><i
                                        class="fa fa fa-check"></i>
                                    提交
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->